<!DOCTYPE html>
<html>
<head>
	<title>Create New Kitten</title>
</head>
<body>
<h1>Create a New Kitten</h1>
  <form action="/kittens" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="breed" placeholder="Breed">
    <input type="text" name="age" placeholder="Age">
    <button type="submit">Save</button>
  </form>
</body>
</html>